fastapi
uvicorn[standard]
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
httpx
beautifulsoup4
APScheduler
pydantic-settings
psycopg2-binary
email-validator
curl_cffi
openpyxl
python-multipart


